{% macro render_field(field, name='', type='text', icon='',placeholder='') %}
<div class="input-group mb-3">

    {{ field(class_='form-control', placeholder=field.label.text) }}
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas {{icon}}"></span>
        </div>
    </div>
</div>
{% endmacro %}


{% macro render_attribute(data_type, attribute_name, allowed_values, value) %}
<div class="container-fluid">
    <tr>
        <td>{{ attribute_name }}</td>
        <td> {% if data_type == 'SINGLE' %}
            <select class="">
                {% for allowed_value in allowed_values%}
                <option value="allowed_value">{{allowed_value}}</option>
                {% endfor %}
            </select></td>
        {% endif %}
    </tr>
</div>
{% endmacro %}


