{% extends 'master.html' %}

{% block content  %}
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ car.name }} Reviews</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        {% if reviews is not none %}
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Review</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for review in reviews %}
                            <tr>
                                <td>{{ review.user_name}}</td>
                                <td>{{ review.review }}</td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h2>No Reviews yet</h2>
                        {% endif %}
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Your Review</h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        {% if session['ID'] %}
                        <h3>Insert your review about the car below, please!</h3>
                        <form method="post">
                            <input type="hidden" name='car_id' value="{{car.id}}">

                            <label for="my_review">Your Review</label>
                            <div class="tit-i">
                                <input id='my_review' name='review' type="number" min="1" max="100"/>
                            </div>
                            <div class="rev">
                                <input class="butt" type="submit" value="Add your review">
                            </div>
                        </form>
                        {% else %}
                        <div class="er"> Login to add your review</div>
                        <input type="button" onclick="location.href='/login'" value="Login">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
