<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>
    <link rel="stylesheet" href="static/css/show_cars.css">

</head>
<body>
<div class="bod">
    {% if not session['ID'] %}
        <div class="father-butto">
            <input class="butto" type="button" onclick="location.href='/register'" value="Register">
            <input class="butto" type="button" onclick="location.href='/login'" value="Login">
    {% endif %}
            <input class="butto" type="button" onclick="location.href='/'" value="Home">
            <input class="butto" type="button" onclick="location.href='/logout'" value="Logout">
        </div>
    {% block content %}
    <table>
        <tr>
            <th>Car Id</th>
            <th>Car Name</th>
            <th>Car Model</th>
            <th>Year</th>
            <th>Avg Review</th>
            <th>Image</th>
            <th>Details</th>
        </tr>


        {% for car in cars %}
        <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.name }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.year }}</td>
            <td><img src="{{url_for('static', filename= car.image )}}" style="width:150px;height:150px;"></td>
            <td>
                <input calss="detail" type="button" onclick="location.href='{{ url_for('car_details', car_id=car.id) }}'" value="Details">
            </td>
        </tr>

        {% endfor %}
    </table>
    {% endblock %}

</div>
</body>
</html>